<div class="container" align="center">
    {{#if message}}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> {{message}}
        </div>
    {{/if}}

    <div class="card">
        <div class="card-header">
            회원 가입
        </div>
        <div class="card-body">
            <form action="/user/sign-up" method="post">
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputId" name="userId" placeholder="아이디">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" name="userPassword" placeholder="패스워드">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputCheckPassword" name="userCheckPassword" placeholder="패스워드 확인">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="userName" placeholder="이름">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPhone" name="userPhone" placeholder="전화번호">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" name="userEmail" placeholder="이메일">
                    </div>
                </div>
                <div class="mb-3 row">
                    <button type="submit" class="btn btn-primary mb-3">회원 가입</button>
                </div>
            </form>
            <div>
                <a href="/user/login">로그인</a>
            </div>
        </div>
    </div>
</div>
